<div class="container details">
    
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 card card-2">
            <div class="card-title">{{curricula.curricula_name}}</div>

        <h4 class="category-details"> Category: <a href="/category/{{curricula.category}}">{{curricula.category}}</a> > <a href="/category/su_{{curricula.sub_category}}">{{curricula.sub_category}}</a> </h4>
        <p> <i class="fa fa-certificate icon-details" aria-hidden="true"></i> Votes: {{curricula.votes}}<span> <i class="fa fa-user-circle-o icon-details" aria-hidden="true"></i> Author: {{curricula.votes}}</span></p>

         {{#each curriculaDetails}}
                    <h4 class="details-step">  Step: {{this.step_number}} </h4>
                    <p>  {{this.step_content}} </p>
                    {{#if this.step_url}}
                        <p>  Link: <a href="{{this.step_url}}" target="_blank">{{this.step_url}}</a> </p> 
                    {{/if}}
            {{/each}}
            <button class="btn btn-success" id="vote" status="vote">Yay Curricula!</button> 
            <p class="alert-msg"></p>
        </div>

 <!-- Holds related curricula -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="card card-2" >
                <div class="side-bar-title">{{curricula.category}} related:</div>
                <div class="related">
                    {{#each allCurricula}}
                        <a href="/curricula/{{this.id}}" class="realted-link">
                            <h4 class="">{{this.curricula_name}}</h4>
                            <p class="list-group-item-text">{{this.description}}</p>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/details.js"></script>
