<div class="container">
    <div class="row curriculaMeta">
        <h3> {{curricula.curricula_name}} </h3>
        <h4> Category: {{curricula.category}} > {{curricula.sub_category}} </h4>
        <p> Votes: {{curricula.votes}}</p>
    </div>
    <div class="row">
        {{#each curriculaDetails}}
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4>  Step: {{this.step_number}} </h4>
                <p>  {{this.step_content}} </p>
                {{#if this.step_url}}
                    <p>  Link: <a href="{{this.step_url}}" target="_blank">{{this.step_url}}</a> </p> 
                {{/if}}
            </div>
        {{/each}}
        {{!--{{#if User}}--}}
            <button class="btn btn-success">Upvote this Curricula</button>
        {{!--{{/if}}--}}
    </div>
</div>