
<div class="container">
    <!-- Login Area -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <div class="page-header header_site">
                <h1 class="logo">Placeholder for logo</h1>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <p> Login or Register with: 
                <span> 
                    <a href="/auth/google" class="btn btn-danger">
                        <span class="fa fa-google-plus"></span> Google
                    </a> 
                </span>
            </p>
        </div>
    </div>
    
    <div class="row" id="landing-content">
        {{#each curriculaInstance}}
            {{#if this.submited_status}}
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="thumbnail" id="cur{{this.id}}">
                    <a href="curricula/{{this.id}}">
                        <img src="./assets/img/default_curriculum.png" alt="{{this.curricula_name}}"> 
                    </a>
                    <div class="caption"> 
                        <p> {{this.curricula_name}} </p>  
                        <p> {{this.description}} </p>
                        <p> Votes: {{this.votes}} </p>
                        <p> Author: {{this.authorId}} </p>
                    </div>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<script type="" src="./assets/js/landing.js"></script>
