
{{!--console.log(this.curriculaInstance);--}}
<div class="container">
    <div class="row" id="landing-content">
        {{#if curriculaInstance.flag}}
            {{#each curriculaInstance.display}}
                {{#if this.submited_status}}
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 card-home">
                    <div class="card card-2">
                        <a href="curricula/{{this.id}}">
                        <div class="card-title">{{this.curricula_name}}</div>
                        </a>
                        <div class="caption"> 
                            <p> {{this.description}} </p>
                            <p> Votes: {{this.votes}} </p>
                            <p> Author: {{this.authName}} </p>
                        </div>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        {{/if}}
        {{#unless curriculaInstance.flag}}
            <h4>Sorry, no results to display!</h4>
            <p>You can try different search terms or <a href="/">go back.</a></p>
        {{/unless}}
    </div>
</div>

