<input type="text" name="fname" value="{{this.username}}" id="Author" hidden>
<input type="text" name="id" value="{{this.userId}}" id="id-Author" hidden>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-12">
            <p id="alert-msgs" class="colorGreen"></p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card card-2">
                <div class="background-profile">
                    <img class="img-responsive img-rounded profile-pic" src="/assets/images/blankprofile.png" alt="profile pic">

                </div>


                <h1 class="user-bio">{{this.username}}</h1>
                <p class="user-profile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo justo, rutrum vitae placerat in, posuere at magna. Mauris quis porttitor felis. In vel ligula neque. Curabitur suscipit ante et eros consectetur pulvinar. Nunc egestas sodales arcu non congue. Sed pretium ullamcorper tincidunt. Ut ut egestas arcu, vel luctus velit. Suspendisse aliquam nunc ornare aliquet consectetur. F usce gravida luctus fermentum. Fusce efficitur posuere ligula ac dapibus. Nunc lacinia odio eget augue rhoncus dictum.
            </div>
        </div>


        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card card-2">
                <div class="bio-header">Your Curriculas</div>
                
                {{#each curriculaName}}
                <div class="link-curricula">
               <img src="/assets/images/icon-logo.png" class="icon-curricula"> <a href="curricula/{{this.id}}" class="curricula-link">
                    {{this.curricula_name}}</a>                   

               <div class="btn-container">
                    <a href="curricula/{{this.id}}"><button class="btn btn-edit">View</button></a>
                    <a href="/api/edit/{{this.id}}"><button class="btn btn-edit">Edit</button></a>
                    <a href=""><button class="btn btn-edit">Delete</button></a>

                    </div>

                </div>
                
                    
                {{/each}}

            </div>
        </div>

    </div>
</div>